.PhotoPart{
    background-color: #80808017;
    max-width: 10rem;
    height: 10rem;
}

#FieldAndDeadlineDivs{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

#DeadlineDiv{
    padding-right: 20px;
}

#CardDiv2{
    width: 250px;
}

#ProjectSection{
    display: flex;
    justify-content: space-evenly;
    padding-top: 30px;
}

@media screen and (max-width: 600px) {
    .card {
       width: 100%;
    }
 }