.AvailableProjectsH1{
  text-align: left;
  padding-left: 4rem;
  padding-top: 4rem;
  font-size: 35px;
  color: royalblue;
}

.FilterButtons{
  color: gray;
  font-size: 12px;  
}

button{
  margin:7px;
}

button:first-child{
  margin-left: 4rem;
  background-color: royalblue;
  color:white;
  border-radius: 10px;
  padding:5px 10px 5px 10px;
}